/* 该文件定义了App所用到的所有css， 需要在App.js 中import*/
.topLevel { /* app level的style，用grid system进行展示*/
  padding: 20px 0 0 0;
  width: 99vw;
  min-width: 350px;
  height:100vh;
  display: grid;
  grid-template-columns: 100px auto;
  /* margin: 0.5vw 1vw 2vw 1vw; */
  background-color:#F0F0F0;
  font-family: "Helvetica Neue, Helvetica, STHeiTi, sans-serif";
  font-weight: 500;
}

/*********开始：左边类别栏的style部分********/
.typeListContainer{
  justify-self: center;
  width: 100px;
  display: flex;
  flex-direction:column;
  background-color:#F0F0F0;
  list-style-type: none;
  font-size: large;
  overflow-x: auto;
  padding: 25px 0 0 0;
}

.typeListContainer :hover{
  background-color:#717171;
  cursor: pointer;
}


.typeListItem{
  display: flex;
  align-items:center;
  justify-content: center; /* 用于文字水平和垂直居中*/
  background-color:#F0F0F0;
  height: 50px;
  width: 100%;
}
/*********结束：左边类别栏的style部分********/


/*********开始：右边container的style部分：******/
.rightContainer{ 
  justify-self: left;
  width: 100%; 
  height: 100%;
  display: grid;
  grid-template-rows: 25px auto;
  border-radius: 20px;
  grid-gap: 10px;
  /* margin: 0.5vw 0 2vw 0; */
  background-color:#FFFFFF;
}


.filterBarContainer{
  text-decoration: none;
  height: 100%;
  margin: 10px 10px 0 10px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  list-style-type:none;
  flex-wrap: nowrap;
  overflow-x: auto;
  
  /* background-color:#000000; */
}

.filterBarContainer li{
  margin: 0 3px;
  padding:3px 10px;
  font-size: 12px;
  background-color:#F0F0F0;
  text-align:center;
  color:#757575;
  border-radius: 10px;
}

.filterBarContainer li:hover{
 cursor: pointer;
}


.productListContainer{
  display: grid; /*用grid实现间距相等，同时保证左对齐*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 100px;
  grid-column-gap: 0;
  grid-row-gap: 10px;
  /* background-color:blueviolet; */
}

/*width <= 549px, 每行显示3个商品*/
@media (max-width: 559px){
  .productListContainer{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*550px <= width <= 749, 每行显示4个商品*/
@media (min-width: 600px) and (max-width: 749px){
  .productListContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*width >= 750, 每行显示5个商品*/
@media (min-width:750px){
  .productListContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.productListHeader{
  margin:1vh 0 1vh 13px; /* left margin 13 和上边tab对其*/
  height: fit-content;
}

.productListItemWrapper{
  display: grid;  /*grid 布局用于居中*/
  height: 100px;
  /* background-color: lightblue; */
  margin: 0 10px;
  justify-items:center;
}
  
.productListItem{
  width: 100px;
  height: 100%;
  /* background-color: rgb(108, 108, 223); */
  text-align: center;
  font-size: 14px;
}
  
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
}

/*********结束：右边container的style部分：******/

