.topLevel { /* app level的style，用grid system进行展示*/
  width: 50vw;
  height: 90vh;
  padding: 1vw 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2vw;
  margin: 0.5vw 1vw 2vw 1vw;
  background-color:blanchedalmond;
}

.rightContainer{
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-gap: 2vw;
  margin: 0.5vw 1vw 2vw 1vw;
  background-color:blanchedalmond;
}

.typeListContainer{
  display: grid;
  grid-auto-rows:auto;
  background-color: aqua;
  list-style-type: none;
}

.typeListContainer :hover{
  background-color:aquamarine;
  cursor: pointer;
}

.filterBarContainer{
  display:block;
  text-decoration: none;
  background-color:red;
  padding: 0 1.5vw 0 1.5vw;
  overflow-x: auto;
}

.filterBarContainer ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  align-items: center
}

.filterBarContainer li{
  display: inline-block;
  height:5vh;
  /* float:left; */
  padding: 5px;
  margin: 0px 2px;
  font-size: 3.5vh;
  background-color:rgb(246, 246, 93);
}

.productListContainer{
  background-color:yellow;
}


