/* 该文件定义了App所用到的所有css， 需要在App.js 中import*/

.topLevel { /* app level的style，用grid system进行展示*/
  padding: 20px 0 0 0; /* 顶部20px padding, 美观目的 */
  width: 100%;
  min-width: 350px;
  height:100%;
  display: grid; 
  /* margin: 0 100px 0 0; */
  grid-template-columns: 100px auto;
  /* margin: 0.5vw 1vw 2vw 1vw; */
  /* background-color:#F0F0F0; */
  font-family: "Helvetica Neue, Helvetica, STHeiTi, sans-serif";
  font-weight: 500;
}

/*********开始：左边类别栏的style部分********/
.typeListContainer{
  justify-self: center;
  width: 100px;   
  height: 100%; /* 左侧类别栏高度覆盖整个页面 */
  display: flex;
  flex-direction:column;
  list-style-type: none; /* 每个tab是一个li，不显示默认的bulletpoint*/
  font-size: large;
  overflow-x: auto;
  padding: 20px 0 0 0; /*顶部25px padding, 与顶部分类条对其*/
  position:fixed;  /* 不随页面滚动而变化，与实际淘宝一致 */
  background-color:#F0F0F0; 
  top: 0;
  left: 0;
}

.typeListContainer :hover{
  background-color:#717171;
  cursor: pointer;
}


.typeListItem{
  display: flex;
  align-items:center;
  justify-content: center; /* 用于文字水平和垂直居中*/
  background-color:#F0F0F0;
  height: 50px;
  width: 100%;
}

/* 选中后的样式*/
.typeListItemSelected{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center; /* 用于文字水平和垂直居中*/
  background-color:#FFFFFF;
  color: #FF631C;
  height: 50px;
  width: 100%;
  border-left: 4px solid #FF631C;
}



/*********结束：左边类别栏的style部分********/


/*********开始：右边container的style部分：******/
.rightContainer{ 
  grid-column: 2;
  justify-self: left;
  width: 100%; 
  height: 100%;
  display: grid;
  grid-template-rows: 25px auto;
  border-radius: 20px;
  grid-gap: 10px;
  /* margin: 0.5vw 0 2vw 0; */
  background-color:#FFFFFF;
}


.filterBarContainer{
  text-decoration: none;
  /* height: 100%; */
  height: 30px;
  width:100%;
  /* margin: 10px 10px 0 10px; */
  display: flex;
  justify-content:flex-start;
  align-items: center;
  list-style-type:none;
  flex-wrap: nowrap;
  overflow-x: auto;

  position:fixed;

  background-color:#FFFFFF;
}

.filterBarContainer li{
  margin: 0 3px;
  padding:3px 10px;
  font-size: 12px;
  background-color:#F0F0F0;
  text-align:center;
  color:#757575;
  border-radius: 10px;
}

.filterBarContainer li:hover{
 cursor: pointer;
}

.filterBarContainer li.filterSelected{
  color:#FF631C;
  background-color: #FEF5F2;
}

.topMask{
  background-color: #F0F0F0;
  position: fixed; /* 保证顶部在滚动的时候不会出现背景不一致*/
  height:20px;
  top: 0;
  width: 100%;

}

.productContainer{
  grid-row: 2; /* 将主要内容放到第二行，起到一个top margin的作用，同时保证
                *  grid system的一致性 */
}

.productListContainer{
  display: grid; /*用grid实现间距相等，同时保证左对齐*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 100px;
  grid-column-gap: 0;
  grid-row-gap: 10px;
  /* background-color:blueviolet; */
}

/*width <= 549px, 每行显示3个商品*/
@media (max-width: 559px){
  .productListContainer{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*550px <= width <= 749, 每行显示4个商品*/
@media (min-width: 600px) and (max-width: 749px){
  .productListContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*width >= 750, 每行显示5个商品*/
@media (min-width:750px){
  .productListContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.productListHeader{
  margin:1vh 0 1vh 13px; /* left margin 13 和上边tab对其*/
  font-weight:600;
  height: fit-content;
}

.productListItemWrapper{
  display: grid;  /*grid 布局用于居中*/
  height: 100px;
  /* background-color: lightblue; */
  margin: 0 10px;
  justify-items:center;
}
  
.productListItem{
  width: 100px;
  height: 100%;
  /* background-color: rgb(108, 108, 223); */
  text-align: center;
  font-size: 14px;
}
  
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: 75px;
}

.productListMsg{
  margin: 20px 0;
  color:#757575;
  text-align:center
}

/*********结束：右边container的style部分：******/

