html{
  scroll-padding-top: 70px; /* padding used for preventing fixed elements from hidding the text*/
  /* scroll-padding-left: 20px; */
  /* overflow-x: hidden; */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
